@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
  }

  h1,
  h2 {
    @apply font-title;
  }

  h1 {
    @apply text-5xl md:text-7xxl;
  }

  h2 {
    @apply text-4xl md:text-5xl;
  }

  div,
  p,
  span,
  h3,
  h4,
  h5 {
    @apply font-sans;
  }
  /* input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 0s 600000s, color 0s 600000s;
    } */
}

@layer components {
  .btn {
    @apply rounded-full p-3 pl-6 pr-6 font-semibold;
  }
}
