@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
  }

  h1,
  h2 {
    @apply font-title font-bold;
  }

  h1 {
    @apply text-5xl md:text-7xxl;
  }

  h2 {
    @apply text-4xl md:text-5xl;
  }

  div,
  p,
  span,
  h3,
  h4,
  h5 {
    @apply font-sans;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-coal-600 rounded-md;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-coal-300 rounded-md;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-coal-300;
  }
}

@layer components {
  .btn {
    @apply rounded-full p-[10px] pl-6 pr-6 font-semibold whitespace-nowrap;
  }

  .mapouter {
    position: relative;
    height: 400px;
    width: 590px;
    background: #fff;
  }

  .maprouter a {
    color: #fff !important;
    position: absolute !important;
    top: 0 !important;
    z-index: 0 !important;
  }

  .gmap_canvas {
    overflow: hidden;
    height: 400px;
    width: 590px;
  }

  .gmap_canvas iframe {
    position: relative;
    z-index: 2;
  }

  .moving-object {
    @apply animate-rider;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* Только один раз */
  }

  .swiper-pagination {
    z-index: 9 !important;
  }

}